{% extends 'partials/base.html.twig' %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
	<div id="chapter">
    	<div id="body-inner">
    		<h1>Error {{ page.header.code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
    </div>
</div>
{% endblock %}
