<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
	<div class="main-inner">
		<h1 class="page-header">{{ page.title }}</h1>

		{{ page.content }}

		{% block footer %}
        <blockquote id="github-contrib">
            <i class="fa fa-github"></i> Found errors? Think you can improve this documentation? Please <a href="{{ site.github.tree ~  ('/'~page.filePathClean)|replace({'/user/':''}) }}">edit this page</a>. 
        </blockquote>
        {% endblock %}
	</div>
</div>

<div class="col-md-2 hidden-xs hidden-sm">
	<div class="page-sidebar" data-spy="affix" data-offset-top="60">
		<div class="panel panel-default">
		  <div class="panel-heading">Contents 
		  	<i class="fa fa-align-justify"></i>
		  </div>
		  <ul class="list-group nav"></ul>
		</div>
	</div>	
</div>
